button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

button.primary {
  background-color: $primary-color;
  color: #000;
}

button.primary:disabled {
  background-color: rgba($primary-color, 0.5);
  cursor: not-allowed;
}

button.primary:hover {
  background-color: $primary-dark;
}
