.main-layout {
  display: flex;
  height: calc(100vh - 60px);
  background-color: #f4f6fa;
}

.main-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  margin-top: 5rem;
  margin-inline: 10rem;
}
